name: bandit

on:
  pull_request:
    branches: [main]

concurrency:
  group: bandit-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  bandit:
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    steps:
      - name: Run Bandit Scan
        uses: PyCQA/bandit-action@v1
        with:
          python-version: ${{ matrix.python-version }}
          targets: examples src
