name: pytest darwin

on: [pull_request, workflow_dispatch]

env:
  PYTHONPATH: /Users/runner/work/g2-sdk-python-next/g2-sdk-python-next/src
  SENZING_TOOLS_DATABASE_URL: 'sqlite3://na:na@/tmp/sqlite/G2C.db'

jobs:
  pytest-darwin:
    name: "pytest Senzing: ${{ matrix.senzingapi-runtime-version }}; OS: ${{ matrix.os }}; Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        # 3.8 and 3.9 are unsupported on the darwin runner
        python-version: ["3.10", "3.11"]
        senzingapi-runtime-version: [production-v3]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install psutil pytest pytest-cov pytest-schema

      - if: matrix.python-version == '3.8' || matrix.python-version == '3.9'
        name: install python libraries for python 3.8 and 3.9
        run: pip install typing_extensions

      - name: install Senzing API
        uses: senzing-factory/github-action-install-senzing-api@v3
        with:
          senzingapi-runtime-version: ${{ matrix.senzingapi-runtime-version }}

      - name: copy /etc files
        run: sudo cp testdata/senzing-license/g2.lic /opt/senzing/g2/etc/g2.lic

      - name: copy test database files
        run: mkdir /tmp/sqlite && cp testdata/sqlite/G2C.db /tmp/sqlite/G2C.db

      - name: run pytest on tests
        run: |
          export DYLD_LIBRARY_PATH=/opt/senzing/g2/lib:/opt/senzing/g2/lib/macos
          pytest tests/ --verbose --capture=no --cov=src

      - name: rename coverage file
        env:
          COVERAGE_FILE: ".coverage.${{ matrix.python-version }}"
        run: |
          mv .coverage "$COVERAGE_FILE"

      - name: Store coverage file
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.python-version }}
          path: .coverage.${{ matrix.python-version }}

  coverage:
    name: coverage
    needs: pytest-darwin
    permissions:
      pull-requests: write
      contents: write
    uses: senzing-factory/build-resources/.github/workflows/python-coverage-comment.yaml@v1
